$purple: #27005D;
$purple-transparent: rgba(50, 3, 117, 0.9);

$font-color: #eee;

$pink: #9400FF;
$border-pink: 0.5rem solid #9400FF;

$linear-gradient-default: linear-gradient(to bottom right, rgba(39, 0, 93, 0.8), 80%, rgba(174, 210, 255, 0.8));